{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<a href="/select_story">
<button id="start_button">Let's Start Your MadLib!</button>
</a>

<br>
<img src="https://lessons.springboard.com/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F17a8e463-fadf-45e7-bf75-d1f9f21cff2e%2Fmadlibs.jpg?table=block&id=ec059c03-d480-41e7-9b19-9e4ff7bc75e0&spaceId=163f1722-85e9-4a3c-adba-457a91094f00&width=630&userId=&cache=v2" alt="" width=500 height=750>

<script src="/static/app.js"></script>

{% endblock %}